<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "New York R Conference" %></title>

    <%= stylesheet_link_tag "work-bench" %>
    <%= javascript_include_tag  "work-bench" %>
  </head>

  <body class="<%= page_classes %>" id="page-top" data-spy="scroll" data-target=".navbar-custom">
    <%= yield %>
  </body>
</html>
